.wrapper {
    max-width: 400px;
    width: 100%;
    //height: 300px;
    .toggle {
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    .error {
        color: red;
    }
    .title {
        text-align: center;
    }
}
